[submodule "third_party/InstantMesh"]
	path = third_party/InstantMesh
	url = git@github.com:TencentARC/InstantMesh.git
[submodule "third_party/segment-anything-2"]
	path = third_party/segment-anything-2
	url = git@github.com:facebookresearch/segment-anything-2.git
[submodule "third_party/lama"]
	path = third_party/lama
	url = https://github.com/advimman/lama.git
[submodule "third_party/segment-anything"]
	path = third_party/segment-anything
	url = git@github.com:facebookresearch/segment-anything.git
[submodule "third_party/recognize-anything"]
	path = third_party/recognize-anything
	url = git@github.com:xinyu1205/recognize-anything.git
[submodule "third_party/GroundingDino"]
	path = third_party/GroundingDino
	url = git@github.com:IDEA-Research/GroundingDINO.git
